
body {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.panel-izquierdo {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.panel-derecho {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
